#notes-container {
    height: 100vh;

    .category-items {
        position: fixed;
    }

    #notes {
        padding: 1em 1em 2em;
        margin-top: 6em;
        margin-bottom: 1.5em;
        height: 76vh;
        overflow: scroll;
        overflow-x: hidden;
    }
}