#notes-container {
    #notes {
        padding: 0 1em 2em;
        margin-bottom: 1.5em;
        max-height: 70vh;
        overflow: scroll;
        overflow-x: hidden;
    }


    .card-text {
        padding-right: 0;

        .fa-edit {
            margin-left: 0.3em;
            margin-right: .3em;
        }

        i {
            cursor: pointer;
            color: $darkPurp;
        }
    }

    .card-columns {
        column-gap: 0;

        .editor {
            border: solid 1px gray;
            width: 300px;
            height: 100px;
            padding: 6px;
            overflow: scroll;
        }

        .card {
            @include mediaQueryMin(576px) {
                max-width: 21vw;
            }
        }

    }
}

[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}