#sidebar {
    color: $whiteColor;
    padding: 2em 0;

    ul {
        li {
            padding: .5em 2em;
            cursor: pointer;

            &.active {
                background-color: $transWhiteColor;
                border-left: 3px solid #fff;
            }
        }
    }
}