.btn-dark {
    background-color: $darkPurp;
    border: none;

    &:hover {
        background-color: $purpColor;
    }
}

@include mediaQueryMax(576px) {
    .btn {
        font-size: .9rem;
    }
}